* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-decoration: none;
	border: none;
	list-style: none;
	outline: none;
}

:focus  { outline:0; }
.hidden { display: none; }

#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

/* BASICS */

html { background:#FFF;color:#673401;text-rendering:optimizeLegibility;background: url(http://cloudfront.cachefly.net/dpc/_img/bg-texture-a.jpg) repeat top left; }

body {
	width: 735px;
	margin: 60px auto 50px;
	font: 13px/18px "Century Gothic","Lucida Grande",Verdana,Tahoma,Century,sans-serif;
	}
	
a:link, 
a:active, 
a:visited {
	color: #34cdcd;
	-webkit-transition: all 0.2s ease-in-out;
	}
	a:focus,
	a:hover {
		text-decoration: underline;
		}
	
div.clear {
	height: 0;
	position: relative;
	clear: both;
	}


/* DOLORES HOMEPAGE */

h1 a { width:135px;height:91px;margin:0 300px;background: url(http://cloudfront.cachefly.net/dpc/_img/dolores-logo.png) no-repeat center top;text-indent: -9999px;display: block; }
h1 a:hover { background: url(http://cloudfront.cachefly.net/dpc/_img/dolores-logo-hover.png) no-repeat center top; }

#nav { width:735px;border-top:1px solid #b8e6dc;border-bottom:1px solid #b8e6dc;margin:35px 0;}
#nav ul { margin:5px 0; width: 100%; text-align: center; }
#nav ul li { display: inline; margin-left:30px;font-size:11px;font-weight:bold;text-transform:uppercase;letter-spacing:1px; }
#nav ul li:first-child { margin-left:0; }
#nav ul li a { color:#7c4a31; }
#nav ul li a:hover { color:#34cdcd;text-decoration:none; }
#nav ul li a#current-page { color:#34cdcd; }

#home #slider, #precita #menu #slider { width:735px;height:320px;margin: 0 0 30px; }

p#info-strip { font-size:11px;text-align:center;color:#b79fa2;letter-spacing:1px;margin-bottom:30px; }

#switcher { padding: 30px 0; text-align: center; text-transform: uppercase; }
#switcher span { margin-left: 20px; }
#switcher span:first-child { margin-left: 0; }

#switcher span { display: inline-block; width:135px; padding-top: 30px; text-transform:uppercase;text-align:center;font-weight:bold;background:url(http://cloudfront.cachefly.net/dpc/_img/duboce-park-switcher.png) no-repeat center top; }
#switcher span a  { font-size:10px;color:#7c4a31;letter-spacing:1px; }
#switcher span a:hover { color:#c70b10;text-decoration:none; }

#home-mask { width:739px;height:327px;margin:-1px 0 0 -2px;position:absolute;z-index:100;background:url(http://cloudfront.cachefly.net/dpc/_img/home-mask.png) no-repeat top left; }

#promos { width:735px;margin:-12px 60px 30px; }
#video, #new-additions { float:left; }

#video { width:188px;font-weight:bold; }
#video a img { width:188px;height:128px; }
#video p { font-size:13px;line-height:20px;text-align:center;color:#3f140d; }

#new-additions { 
	width:415px;
	margin: 10px 0 0 20px;
	padding-top: 20px;
	font-size: 15px;
	line-height: 23px;
	text-align: center;
	background:url(../_img/sightglass.png) no-repeat top right;
	color: #3f140d;
	min-height: 100px;
	}
	#new-additions p {
		padding-right: 130px;
	}
	#new-additions a:link, #new-additions a:visited {
		font-weight: bold;
		color: #3f140d;
		}

/*
#promos { width:735px;margin-top:-12px;margin-bottom:30px; }
#small-promo, #large-promo { width:238px;height:148px;float:left;margin-right:15px;border:1px solid #dfe0e2;background-color:#FFF; }
#large-promo {  width:478px;float:left;margin-right:0; }

#small-promo a img { margin:6px 7px 0; }
#small-promo p { text-align:center;font-weight:bold; }

#large-promo #gowalla-stamp { position:absolute;display:block;margin:26px 0 0 22px; }
#large-promo h2 { margin-top:4px;margin-left:140px;text-align:left;font-size:16px;text-transform:none;margin-bottom:6px;letter-spacing;0; }
#large-promo h2 img { margin-bottom:-8px; }
#large-promo p { margin-left:140px;width:320px;line-height:18px; }
#large-promo a { font-weight:bold; }
#gowalla-link { margin-top:6px; }

#large-promo #gowalla-rainbow { position:absolute;margin-top: 144px; }

*/


/* MENU */

#menu #slider { width:365px;height:278px;margin:30px 185px; }

h2 { font-size:13px;font-weight:bold;text-transform:uppercase;letter-spacing:2px;text-align:center; }
p#small { font-size:12px;text-align:center; }

#menu h2 { margin-bottom:5px; }
a#download { padding:0 0 0 18px;background:url(http://cloudfront.cachefly.net/dpc/_img/download-icon.png) no-repeat center left; }

#menu-mask { width:369px;height:285px;margin:29px 0 0 183px;position:absolute;z-index:100;background:url(http://cloudfront.cachefly.net/dpc/_img/menu-mask.png) no-repeat top left; }

/* LOCATIONS */

#locations { margin-bottom:40px; }

#duboce-location, #dolores-location, #locations img { float:left;margin-right:2px;height:318px; }
#duboce-location { width:150px;background:url(http://cloudfront.cachefly.net/dpc/_img/duboce-location_bg.jpg) no-repeat; }
#dolores-location { width:154px;background:url(http://cloudfront.cachefly.net/dpc/_img/dolores-location_bg.jpg) no-repeat; }

#duboce-location p, #dolores-location p { text-align:center;font-size:11px;margin-bottom:12px;line-height:16px; }
#dolores-location p { color:#FFF; }
#duboce-location p:first-child, #dolores-location p:first-child { margin-top:112px; }
#duboce-location span, #dolores-location span { font-weight:bold;text-transform:uppercase;letter-spacing:1px; }
#duboce-location a, #dolores-location a { font-weight:bold;color:#673401; }
#dolores-location a { color:#FFF; }

#location-links { margin-top:-20px; }
#location-links #left-links, #location-links #right-links { float:left;width:367px; }
#location-links #left-links p, #location-links #right-links p { height:24px;width:367px;margin-bottom:5px;line-height: 24px; }
#location-links #left-links img, #location-links #right-links img { width:154px;height:24px;display:block;margin-right:10px; }

/* MUSIC + ART */

#music h2,#art h2 { margin-bottom:6px;letter-spacing:1px; }
#music p, #art p { padding:0 90px;text-align:center;margin-bottom:30px; }
#music p#last, #art p#last { margin-bottom:40px; }
#music p#info-strip, #art p#info-strip { padding:0; }

#music #slider { width:733px;height:304px;margin:30px 1px; }
#art #slider { width:733px;height:274px;margin:30px 1px; }

#music-mask { width:737px;height:311px;margin:-1px 0 0 -1px;position:absolute;z-index:100;background:url(http://cloudfront.cachefly.net/dpc/_img/music-mask.png) no-repeat top left; }
#art-mask { width:737px;height:281px;margin:-1px 0 0 -1px;position:absolute;z-index:100;background:url(http://cloudfront.cachefly.net/dpc/_img/art-mask.png) no-repeat top left; }

/* CALENDAR */

#month-nav, p#event-count, a#booking-calendar, a#booking-calendar-depressed { position:absolute; }

#month-nav { width:196px;margin:13px 0 0 220px;color:#FFF;text-align:center;font-size:20px;font-weight:bold;text-shadow:#65382a 0px 0px 1px;text-transform:uppercase; }
#month-nav a, a#booking-calendar, a#booking-calendar-depressed { display:block;text-indent:-9999px;height:15px;width:7px; }
#month-nav a#prev-month { float:left;background: url(http://cloudfront.cachefly.net/dpc/_img/left-arrow.png) no-repeat; }
#month-nav a#next-month { float:right;background: url(http://cloudfront.cachefly.net/dpc/_img/right-arrow.png) no-repeat; }
#month-nav p { margin-top:-2px; }

a#booking-calendar { width:144px;height:29px;background: url(http://cloudfront.cachefly.net/dpc/_img/dolores-booking-calendar.png) no-repeat;margin:6px 0 0 20px; }
a#booking-calendar-depressed { width:144px;height:29px;background: url(http://cloudfront.cachefly.net/dpc/_img/dolores-booking-calendar_depressed.png) no-repeat;margin:6px 0 0 20px; }

#duboce a#booking-calendar { background-image: url(http://cloudfront.cachefly.net/dpc/_img/duboce-booking-calendar.png); }
#duboce a#booking-calendar-depressed { background-image: url(http://cloudfront.cachefly.net/dpc/_img/duboce-booking-calendar_depressed.png); }


p#event-count { margin:46px 0 0 20px;font-size:18px;font-weight:bold;color:#FFF;text-shadow:#65382a 0px 0px 1px; }

#event-calendar { margin:-20px 0 40px 49px;height:430px;width:636px;background: url(http://cloudfront.cachefly.net/dpc/_img/dolores-calendar-bg.png) no-repeat; }

#duboce #event-calendar { background: url(http://cloudfront.cachefly.net/dpc/_img/duboce-calendar-bg.png) no-repeat; }

#event-calendar #events { width:620px;height:359px;overflow-x:hidden;overflow-y:scroll;padding-right:8px; }
#event-calendar #events { position:absolute;display:block;margin-top:71px; }

#events .event { width:564px;padding:15px 20px;border-bottom:1px solid #6ba9b1;color:#FFF;font-size:14px;text-shadow:#6ba9b1 0px 0px 1px; }
#events .event:last-child { border-bottom:none; }
#events .event a { color:#FFF;text-decoration:underline; }
#events .event a:hover { text-decoration:none; }
#events .event img { border:5px solid #FFF; }
#events .event img, #events .event p { float:left; }
#events .event p { margin:2px 0 0 10px;width:424px; }

p#notify-me { font-weight:bold;text-align:center;margin:-25px 0 25px 0; }

/* BOOKING CALENDAR */

#booking-calendar, #no-events { width:636px;height:359px;overflow:hidden;background: url(http://cloudfront.cachefly.net/dpc/_img/booking-calendar_bg.png) no-repeat; }
#booking-calendar, #no-events { position:absolute;display:block;margin-top:71px;z-index:10; }
#no-events { background: url(http://cloudfront.cachefly.net/dpc/_img/no-events_bg.png) no-repeat;z-index:11;text-indent:-9999px; }

.spot { float:left;width:90px;height:59px;margin:0 1px 1px 0;color:#FFF; }
.spot h3 { font-size:12px;text-align:right;text-shadow:#6caab2 0 -1px;margin: 1px 8px 5px 0; }
.spot p { font-size:13px;line-height:14px;text-shadow:#6caab2 0 -1px;padding: 0 3px 0 8px; }

#today { background: url(http://cloudfront.cachefly.net/dpc/_img/today-marker.png) no-repeat top center;background-position-y:-1px; }
#today h3 { text-shadow:#4a9ca6 0 -1px; }
#today h3#today-text { text-transform:uppercase;text-align:left;float:left;margin-left:8px; }
#today p { font-weight:bold; }


/* ABOUT */

#about h2 { margin-bottom:12px;letter-spacing:1px; }
#about p { padding:0 90px;margin-bottom:15px; }
#about p#last { margin-bottom:40px; }
#about p#info-strip { padding:0; }

#about #slider { width:455px;height:306px;margin:30px 136px; }

#about-mask { width:460px;height:314px;margin:-1px 0 0 134px;position:absolute;z-index:100;background:url(http://cloudfront.cachefly.net/dpc/_img/about-mask.png) no-repeat top left; }

/* CONTACT */

#contact h2 { margin-bottom:6px;letter-spacing:1px; }
#contact p { text-align:center;margin-bottom:30px; }
#contact p.follow { margin-bottom:3px; }
#contact p#last { margin-bottom:40px; }

/* SCROLL BAR */

/* http://almaer.com/scrollbar/debug.html */

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
    
}

::-webkit-scrollbar-track-piece {
    background-color: #6e9a9f;
    -webkit-border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #FFF;
    -webkit-border-radius: 15px;
}

/* DUBOCE PARK STYLES */

html#duboce h1 a { width:125px;height:97px;margin:0 305px;background: url(http://cloudfront.cachefly.net/dpc/_img/duboce-logo.png) no-repeat center top;text-indent: -9999px;display: block; }
html#duboce h1 a:hover { background-image:url(http://cloudfront.cachefly.net/dpc/_img/duboce-logo-hover.png); }

html#duboce #nav { border-color: #ffa86e; }

#switcher #dolores-switcher { background:url(http://cloudfront.cachefly.net/dpc/_img/dolores-park-switcher.png) no-repeat center top; }

/* PRECITA PARK STYLES */
html#precita h1 a { margin: 0 auto 0; width: 100px; height: 100px; background: url(../_img/precita-logo.png) no-repeat top center; }
#switcher #precita-switcher { background:url(../_img/precita-switcher.png) no-repeat center top; }

.coming-soon-p {padding: 2em; text-align: center;}